<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>{{title}}</title>
		<meta name="viewport" content="width=device-width">

		<link rel="stylesheet" href="/static/default.css">
		<link href="/static/bootstrap.min.css" rel="stylesheet">
		<link href="/static/daterangepicker.css" rel="stylesheet">
		<link href="/static/bootstrap-datetimepicker.min.css" rel="stylesheet">

		<style>
	      body {
	        padding-top: 60px; 
	      }
	    </style>

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
		<script src="/static/bootstrap.min.js"></script>
		<script src="/static/date.js"></script>
		<script src="/static/daterangepicker.js"></script>
		<script src="/static/bootstrap-datetimepicker.min.js"></script>
		<script src="/static/knockout-2.2.1.js"></script>
		<script src="/static/trello-burndown.js" defer="defer"></script>
	</head>
	<body>

		<div class="navbar navbar-inverse navbar-fixed-top">
		  <div class="navbar-inner">
		    <div class="container">
		      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		      </a>
		      <a class="brand" href="/">{{title}}</a>
		      <div class="nav-collapse collapse">
		        <ul class="nav">
		          <li><a href="/">Home</a></li>
		          <li class="dropdown">
	                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
	                  View sprints
	                  <b class="caret"></b>
	                </a>
	                <ul class="dropdown-menu">
	                  {{#sprints}}
						<li>
		                    <a href="/?sprint={{name}}">
		                       <i class="icon-signal"></i>
		                       {{name}}
		                     </a>
		                  </li>
					  {{/sprints}}
					  {{^sprints}}
					  	<li>
					  		<i class="icon-info"></i>
					  		No active sprints
					  	</li>
					  {{/sprints}}
					  {{#has_sprints}}
					    <li class="divider"></li>
					  	<li>
					  		<a href="/all">
					  			<i class="icon-list"></i>
					  			All sprints
					  		</a>
					  	</li>
					  {{/has_sprints}}
	                </ul>
	              </li>
	              <li class="dropdown">
	                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
	                  Update active sprints
	                  <b class="caret"></b>
	                </a>
	                <ul class="dropdown-menu">
	                  {{#sprintConfigs}}
						<li>
		                    <a href="/refresh?sprint={{name}}">
		                       <i class="icon-refresh"></i>
		                       {{name}}
		                     </a>
		                  </li>
					  {{/sprintConfigs}}
					  {{^sprintConfigs}}
					  	<li>
					  		<i class="icon-info"></i>
					  		No active sprints
					  	</li>
					  {{/sprintConfigs}}
	                </ul>
	              </li>
	              <li class="dropdown active">
	              	<a class="dropdown-toggle" data-toggle="dropdown" href="#">
	                  Manage sprints
	                  <b class="caret"></b>
	                </a>
	              	<ul class="dropdown-menu">
						<li>
		                    <a href="/manage/edit">
		                       <i class="icon-pencil"></i>
		                       Edit existing sprints
		                    </a>
		                </li>
		                <li>
		                    <a href="/manage/add">
		                       <i class="icon-plus"></i>
		                       Add sprint
		                    </a>
		                </li>
	                </ul>
	              </li>
	              <li><a href="http://devtyr.github.com/trello-burndown/" target="_blank">About</a></li>
		        </ul>
		      </div><!--/.nav-collapse -->
		    </div>
		  </div>
		</div>

		<div class="container">
			
			<h2>Add new sprint</h2>
			<form class="form-horizontal" data-bind="submit: addSprint">
				<div class="control-group">
					<label class="control-label" for="inputName">Sprint name</label>
					<div class="controls">
						<input class="input-xxlarge" id="inputName" type="text" placeholder="Name of the sprint" required data-bind="value: sprint.name">
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="dateRange">Date range</label>
					<div class="controls">
						<div class="input-prepend">
							<span class="add-on"><i class="icon-calendar"></i></span><input type="text" name="dateRange" id="dateRange" required/>
						</div>
					</div>
				</div>
				<div id="date_placeholder"></div>
				<div class="control-group">
					<label class="control-label" for="inputFinishedList">Name of "Finished list"</label>
					<div class="controls">
						<input class="input-xxlarge" id="inputFinishedList" type="text" placeholder="Finished list" required data-bind="value: sprint.finishedList">
						<span class="help-block">Enter the name of the Trello list that contains all finished tasks/cards.</span>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="standupTime">Standup meeting</label>
					<div class="controls">
						<div class="input-prepend" id="standupTimeDiv">
							<span class="add-on"><i data-time-icon="icon-time" data-date-icon="icon-calendar"></i></span><input data-format="hh:mm" id="standupTime" type="text">
						</div>
					</div>
				</div>
				<div class="control-group">
					<div class="controls">
						<button type="submit" class="btn">Save</button>
					</div>
				</div>
			</form>

			<script type="text/javascript">
				$(document).ready(function() {
					$('#dateRange').daterangepicker();
					$('#dateRange').blur(function() {

						var html = '<div class="control-group">' +
							'<label class="control-label">[date]</label>' +
							'<div class="controls">' + 
								'<label class="checkbox inline">[working]</label><label class="checkbox inline">[active]</label>' +
							'</div>' +
						'</div>';

						var datePicker = $('#dateRange').data().daterangepicker;

						var start = datePicker.startDate;
						var end = datePicker.endDate;

						if (start && end) {

							var startDate = new Date(Date.parse(start));
							var endDate = new Date(Date.parse(end));

							var oneDay = 24*60*60*1000; // hours*minutes*seconds*milliseconds
							var diffDays = Math.round(Math.abs((startDate.getTime() - endDate.getTime())/(oneDay))) + 1;

							var dateItems = '';
							for (var i = 0; i < diffDays; i++) {
								var currentDate = new Date(startDate);
								currentDate.setDate(startDate.getDate() + i);
								var template = html.replace(/\[date\]/gi, currentDate.toString('MM/dd/yyyy'));
								if (i == 0 || i == (diffDays - 1)) {
									template = template.replace(/\[working\]/gi, '<input type="checkbox" style="width: 75px;"> Work day');
								} else {
									template = template.replace(/\[working\]/gi, '<input type="checkbox" style="width: 75px;" checked> Work day');
								}
								if (i == 0 || i == (diffDays - 1)) {
									template = template.replace(/\[active\]/gi, '<input type="checkbox"> Active');
								} else {
									template = template.replace(/\[active\]/gi, '<input type="checkbox" checked> Active');
								}
								dateItems += template;
							}

							$('#date_placeholder').html(dateItems);
						}
					});
					$('#standupTimeDiv').datetimepicker({
						pickDate: false
					});
				});
			</script>

	      	<hr>

	      	<footer>
	          <p>Developed by <a href="http://devtyr.com" target="_blank">DevTyr</a></p>
	      	</footer>
		</div>
	</body>
</html>