<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>{{title}}</title>
		<meta name="viewport" content="width=device-width">

		<link rel="stylesheet" href="/static/default.css">
		<link href="/static/bootstrap.min.css" rel="stylesheet">

		<style>
	      body {
	        padding-top: 60px; 
	      }
	    </style>

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
		<script src="/static/bootstrap.min.js"></script>
	</head>
	<body>

		<div class="navbar navbar-inverse navbar-fixed-top">
		  <div class="navbar-inner">
		    <div class="container">
		      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		      </a>
		      <a class="brand" href="/">{{title}}</a>
		      <div class="nav-collapse collapse">
		        <ul class="nav">
		          <li class="active"><a href="/">Home</a></li>
		          <li class="dropdown">
	                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
	                  View sprints
	                  <b class="caret"></b>
	                </a>
	                <ul class="dropdown-menu">
	                  {{#sprints}}
						<li>
		                    <a href="/?sprint={{name}}">
		                       <i class="icon-info-sign"></i>
		                       {{name}}
		                     </a>
		                  </li>
					  {{/sprints}}
	                </ul>
	              </li>
	              <li class="dropdown">
	                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
	                  Update sprints
	                  <b class="caret"></b>
	                </a>
	                <ul class="dropdown-menu">
	                  {{#sprintConfigs}}
						<li>
		                    <a href="/refresh?sprint={{name}}">
		                       <i class="icon-info-sign"></i>
		                       {{name}}
		                     </a>
		                  </li>
					  {{/sprintConfigs}}
	                </ul>
	              </li>
	              <li><a href="http://devtyr.github.com/trello-burndown/" target="_blank">About</a></li>
		        </ul>
		      </div><!--/.nav-collapse -->
		    </div>
		  </div>
		</div>

		<div class="container">
			<div class="hero-unit">
		        <h1>Welcome!</h1>
		        <p><strong>trello-burndown</strong> helps you to get the perfect overview of your sprints. Manage your tasks via <a href="http://trello.com" target="_blank">Trello</a>, view the results here.</p>
		        <p><strong>Need help?</strong> You will find a complete help <a href="http://devtyr.github.com/trello-burndown/" target="_blank">here</a>. 
	      	</div>

	      	<div class="alert alert-block">
			  <h4>Wanted!</h4>
			  This project is hosted @ <a href="http://github.com/devtyr/trello-burndown">github</a>. It is up to you to help improve this tool.
			</div>

	      	<hr>

	      	<footer>
	          <p>Developed by <a href="http://devtyr.com" target="_blank">DevTyr</a></p>
	      	</footer>
		</div>
	</body>
</html>